body {
  background-image: url(./images/main.jpg);
  background-size: cover;
}

.form-wrapper {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  margin-top: 100px;
  padding: 30px;
  width: 500px;
  color: white;
}

textarea {
  resize: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.form-check-label {
  font-size: 110%;
}
